#main{
	margin: 0px auto;
	max-width: 700px;
	background-color: #3a8a59;
}
#image{
	width: 80%;
	margin-left: 10%;

}
img{
	width: 100%;
}
#video{
	width: 80%;
	margin: 5% 10%;
	background-color: black;
	/* Default stylings*/
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
}
#video iframe, #video object, #video embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}
#panel_one{
	float: left;
	width: 35%;
	margin-left: 10%;

}
#panel_two{
	float: right;
	width: 35%;
	margin-right: 10%;

}
p{
	padding: 5%;
	font-family: Arial;
}
html{
	background-color: black;
}
h1{
	text-align: center;
	font-family: Arial;
	font-size: 40px;
	text-decoration: underline;
	font-weight: normal;
}

